---
export interface Props {
  id: string;
}

const { id } = Astro.props;
---

<header class="header">
  <span class="title">{id}</span>
  <nav class="menu">
    <ul class="nav align-end">
      <li class="nav-item">
        <a
          class:list={['nav-link', { active: id === 'LOAN_APPS' }]}
          href="/loan-apps">Loan Apps</a
        >
      </li>
      <li class="nav-item">
        <a
          class:list={['nav-link', { active: id === 'NEW_LOAN_APP' }]}
          href="/new">New</a
        >
      </li>
    </ul>
  </nav>
</header>

<style>
  .align-end {
    justify-content: flex-end;
  }

  .header {
    align-items: center;
    display: flex;
    padding: 1rem 2rem;
    width: 100%;
  }

  .header > .title {
    vertical-align: middle;
  }

  .header .menu {
    flex: 1;
  }

  .nav-link.active {
    font-weight: bold;
  }
</style>
