---
export interface Props {
  pageId: string;
}

const { pageId } = Astro.props;
---

<header class="align-items-center d-flex header p-3 w-100">
  <h1 class="align-self-center me-auto title">{pageId}</h1>
  <a class:list={["nav-link", { active: pageId === "PROFILE" }]} href="/profile"
    ><i class="bi bi-person-circle"></i></a
  >
</header>

<style lang="scss">
  $borderColor: #00000022;

  .header {
    border-bottom: 1px solid $borderColor;
    box-shadow: 0 1px 3px $borderColor;
  }
</style>
