---
import type { Props as PageBaseProps } from "./page-base.astro";
import PageBase from "./page-base.astro";
import type { Props as HeaderProps } from "./header.astro";
import Header from "./header.astro";

export interface Props extends PageBaseProps, HeaderProps {}

const { id, title } = Astro.props;
---

<PageBase title={title}>
  <div class="d-flex flex-column overflow-hidden display">
    <Header id={id} />
    <div class="d-flex pb-3 pe-4 ps-4 pt-3 overflow-auto"><slot /></div>
  </div>
</PageBase>

<style lang="scss">
  .display {
    height: 100vh;
    width: 100vw;
  }
</style>
