---
import { CurrencyInput } from "../components/form/currency-input";
import { PostalCodeInput } from "../components/form/postal-code-input";
import PageContent from "../layouts/page-content.astro";
---

<PageContent pageId="NEW_LOAN_APP" title="NEW_LOAN_APP">
  <div class="w-100">
    <form
      action="https://webhook.site/aa2b99ff-ac5e-4015-a6d1-16bfb25efe8b"
      class=""
      method="post"
    >
      <fieldset class="row mb-3 g-2">
        <legend>Entity</legend>
        <div class="col-md-4">
          <label class="form-label" for="first_name">First Name</label>
          <input
            class="form-control"
            id="first_name"
            name="first_name"
            required
            type="text"
          />
          <div class="invalid-feedback">Your first name is required.</div>
        </div>
        <div class="col-md-4">
          <label class="form-label" for="last_name">Last Name</label>
          <input
            class="form-control"
            id="last_name"
            name="last_name"
            required
            type="text"
          />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="street_1">Street 1</label>
          <input
            class="form-control"
            id="street_1"
            name="street_1"
            type="text"
          />
        </div>
        <div class="col-md-1">
          <label class="form-label" for="state">State</label>
          <input
            class="form-control"
            id="state"
            name="state"
            required
            type="text"
          />
        </div>
        <div class="col-md-2">
          <label class="form-label" for="poastal_code">Zip</label>
          <PostalCodeInput
            client:idle
            className="form-control"
            id="postal_code"
            name="postal_code"
          />
        </div>
      </fieldset>
      <fieldset class="row mb-3 g-2">
        <legend>Loan</legend>
        <div class="col-md-3">
          <label class="form-label" for="requested_amount"
            >Requested Amount</label
          >
          <CurrencyInput
            client:idle
            className="form-control"
            id="requested_amount"
            name="requested_amount"
            placeholder="in dollars"
            required={true}
            showFraction={false}
          />
        </div>
      </fieldset>
      <div class="d-grid d-md-flex justify-content-md-end">
        <button class="btn btn-primary col-md-2" type="submit">Save</button>
      </div>
    </form>
  </div>
</PageContent>

<script>
  function handleSubmit(evt: SubmitEvent) {
    console.log("handleSubmit");
    evt.preventDefault();

    const form = evt.target as HTMLFormElement;
    const field = form.querySelector("#requested_amount") as HTMLInputElement;

    let val = "";
    for (let i = 0; i < field.value.length; i++) {
      if (48 <= field.value.charCodeAt(i) && field.value.charCodeAt(i) < 58)
        val = val + field.value.charAt(i);
    }

    field.value = val;
    form.submit();
  }

  (document.querySelector("form") as HTMLFormElement).addEventListener(
    "submit",
    handleSubmit
  );
</script>
